*
{
  margin: 0px;
  padding: 0px;
}

html
{
  background-color: #111111;
  color: #eeeeee;

  font-family: "Trebuchet MS", Serif;
}


header
{
	width: 1200px;
	height: 300px;

	margin: 10px auto auto auto;

	background-image: url("../images/header.png");
}

a:link
{
  color: #ffc51a;
  text-decoration: none;
}

a:visited, a:hover, a:active
{
  color: #ffd625;
  text-decoration: none;
}


#construction
{
  display: block;
  width: 1200px;
	height: 70px;

  margin: 5px auto;

	background-color: #444444;

  text-align: center;
}


h3
{
  font-size: 36px;
}

p
{
  font-size: 18px;
}
